section.call-to-action
    .call-composition
        span SOCIAL MARKETING & ANALYTICS
        h4 Take control of your data
        a(href="#").btn--data GET STARTED
        a(href="#").btn--data explore features
