section.s-plan
    .plan-table
        span.section-sub-title MIsocial
        h2  Select a Plan
        p Lorem ipsum dolor sit amet, consectetur adipisicing<br>elit, sed do eiusmod tempor incididunt ut.
    .price-plans
        .price-tag
            img(src="img/$0-priceLogo.png", alt="price").img-responsive
            span personal
            span.price-bid <sup>$</sup>
                | 0/<sub>month</sub>
            p Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.
            button.btn select plan
        .price-tag
            img(src="img/29$-priceLogo.png", alt="price").img-responsive
            span personal
            span.price-bid <sup>$</sup>
                | 29/<sub>month</sub>
            p Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.
            button.btn select plan
        .price-tag
            img(src="img/49$-priceLogo.png", alt="price").img-responsive
            span personal
            span.price-bid <sup>$</sup>
                | 49/<sub>month</sub>
            p Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.
            button.btn select plan