.footer-wrap
    footer.footer
        .logo
            img(src="img/logo.png", alt="logo")
            span.logo-text MISOCIAL
        .m-menu
            span
        .footer-menu
            ul
                li: a(href="#") Home
                li: a(href="#") Why MISOCIAL
                li: a(href="#") Features
                li: a(href="#") Articles
                li: a(href="#") Pricing
                li: a(href="#").btn--start get started
.footer-line
    .copy
        p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
    .social
        img(src="img/facebook.svg", alt="social")
        img(src="img/twitter.svg", alt="social")
        img(src="img/g+.svg", alt="social")
        img(src="img/instagram.svg", alt="social")
