//- header(style={background: 'url(img/header-bg.jpg) center no-repeat'}).site-header
.main
    .header
        .logo
            img(src="img/logo.png", alt="logo")
            span.logo-text MISOCIAL
        nav.main-menu(role="navigation")
            ul
                li: a(href="#").menu-link Home
                li: a(href="#").menu-link Why MISOCIAL
                li: a(href="#").menu-link Features
                li: a(href="#").menu-link Articles
                li: a(href="#").menu-link Pricing
                li: a(href="#").menu-link.btn--start get started
    .header-composition
        span SOCIAL MARKETING & ANALYTICS
        h1 Pricing Table
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>sed do eiusmod tempor incididunt ut.
    a(href="#").arrow-down
        .main-arrow