@import "fonts"
@import "libs"
@import "vars"

// @mixin opacity($opacity)
// 	opacity: $opacity / 100
// 	filter: alpha(opacity=$opacity)
//
// .preloader
// 		position: fixed
// 		left: 0
// 		right: 0
// 		top: 0
// 		bottom: 0
// 		z-index: 100500
// 		background-color: grey
// 		.pulse
// 			position: relative
// 			left: 50%
// 			top: 50vh
// 			margin:
// 				left: -40px
// 				top: -40px
// 			&::after,&::before
// 				content: ''
// 				border: 5px solid #323232
// 				width: 80px
// 				height: 80px
// 				border-radius: 500px
// 				position: absolute
// 			&::before
// 				animation: pulse-outer .8s ease-in infinite
// 			&::after
// 				animation: pulse-inner .8s linear infinite
//
//
// @keyframes pulse-outer
// 	0%
// 		@include opacity(100)
// 	50%
// 		@include opacity(50)
// 	100%
// 		@include opacity(0)
//
// @keyframes pulse-inner
// 	0%
// 		@include opacity(0)
// 		transform: scale(0)
// 	100%
// 		@include opacity(100)
// 		transform: scale(1)

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*:after,
*:before
	box-sizing: border-box

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
 	padding: 0
	margin: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $defaultFont
	overflow-x: hidden
	opacity: 1

h1,h2,h3,h4
	margin: 0
	padding: 0

li,
ul
	margin: 0
	padding: 0
	list-style: none

p
	margin: 0
.img-responsive
	display: block
	max-width: 100%
	height: auto


// Header

.main
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	position: relative
	height: 100vh
	min-height: 600px
	overflow: hidden
	color: #fff
	background: url('../img/header-bg2.jpg')
	background-size: cover
	&::after
		content: ''
		background: transparent;
		background: linear-gradient(150deg, #88d3ce, #6e45e2);
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		opacity: .7
		width: 100%;
		z-index: 0
.header
	display: flex
	justify-content: space-between
	align-items: center
	position: relative
	width: 90%
	height: 8vh
	z-index: 1
.logo
	display: flex
	align-items: center
.logo-text
	+boldFont
	font-size: 30px
	line-height: 1
	margin-left: 20px
.main-menu
	width: 60%
	ul
		display: flex
		justify-content: space-around
.menu-link
	color: #fff
	text-decoration: none
	+mediumFont
.btn--start
	width: 150px;
	height: 50px;
	padding: 20px 30px
	margin-left: 70px
	border-radius: 25px;
	background-color: rgba(110,69,226,0);
	border: solid 1px #fff;
	text-transform: uppercase
	font-size: 12px
	+boldFont

.header-composition
	position: relative
	text-align: center
	z-index: 2
	h1
		+mediumFont
		font-size: 86px
		line-height: 72px
		margin: 1.5rem auto
	span
		display: inline-block
		vertical-align: middle
		+boldFont
		font-size: 14px
		&::before,
		&::after
			content: ''
			width: 20px
			height: 1px
			background-color: #fff
			display: inline-block
			vertical-align: middle
		&::before
			margin-right: 15px
		&::after
			margin-left: 15px

.arrow-down
	padding-bottom: 50px
.main-arrow
	position: relative
	width: 50px
	height: 50px
	border-radius: 50%
	background-color: #fff
	box-shadow: 0px 0px 18.69px 2.31px rgba(204,204,223,.5)
	z-index: 2
	&::after
		content: ''
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		width: 20px
		height: 20px
		background: url('../img/arrow-down.svg') 0 0 no-repeat
		background-size: 100%

// s-plan
.s-plan
	width: 100%
	height: 1000px
@import "media" // Всегда в конце
